\#*\#
*~
.DS_Store
*.mode1v3
*.mode2v3
*.pbxuser
*.perspective
*.perspectivev3
build/
*.xcodeproj/project.xcworkspace/contents.xcworkspacedata
*.xcodeproj/project.xcworkspace/xcuserdata/*
*.xcodeproj/xcuserdata/*
